<% if @order.errors.any? %>
  <div class="form-errors">
    <% @order.errors.full_messages.each do |msg| %>
      <%= msg %><br>
    <% end %>
  </div>
<% end %>

<div class="form_container">
<%= form_for [:customer, @department, @customer, @order] do |f| %>
  <table class="form">
    <tr>
      <td><%= f.label :number %></td>
      <td><%= f.text_field :number, :class => 'focus-on-load' %></td>
    </tr>
    <tr>
      <td><%= f.label :load_at %></td>
      <td><%= f.date_select :load_at %></td>
    </tr>
    <tr>
      <td><%= f.label :deliver_at %></td>
      <td><%= f.date_select :deliver_at %></td>
    </tr>
    <tr>
      <td><%= f.label :destination_name %></td>
      <td><%= f.text_field :destination_name, :class => 'autofill' %></td>
    </tr>
    <tr>
      <td><%= f.label :destination_address %></td>
      <td><%= f.text_area :destination_address, :rows => 3 %></td>
    </tr>
    <tr>
      <td><%= f.label :note %></td>
      <td><%= f.text_area :note, :rows => 3 %></td>
    </tr>
    <tr>
      <td></td>
      <td class="submit"><%= f.submit %> eller <%= link_to 'gå tilbage', [:customer, @department, @customer, :orders] %></td>
    </tr>
  </table>
<% end %>
</div>
