<a id="toggle_department_<%= department.id %>" data-id="<%= department.id %>" data-label="<%= j department.label %>" data-remote="true" data-method="put" class="list-item-department list-item<%= " selected" if @user.department_ids.include?(department.id) %>" href="<%= toggle_department_user_path @user, department %>">
  <h3><%= department.label %></h3>
</a>