<%= will_paginate @pallets, :params => {:anchor => 'pallets'} %>

<table class="listing">
  <tr>
    <th><%= Pallet.attr_name :number %></th>
    <th><%= Pallet.attr_name :name %></th>
    <th><%= Pallet.attr_name :batch %></th>
    <th><%= Pallet.attr_name :trace %></th>
    <th><%= Pallet.attr_name :weight %></th>
    <th><%= Pallet.attr_name :count %></th>
    <th><%= Pallet.attr_name :taken %></th>
    <th><%= Pallet.attr_name :capacity %></th>
    <th><%= Pallet.attr_name :arrived_at %></th>
    <th><%= Pallet.attr_name :best_before %></th>
    <th><%= Pallet.attr_name :pallet_type %></th>
  </tr>

  <% @pallets.each do |pallet| %>
  <tr class="<%= cycle("odd","even") %> clickable" data-url="<%= url_for [:customer, @customer, pallet] %>">
    <td><%= pallet.number %></td>
    <td><%= pallet.name %></td>
    <td><%= pallet.batch %></td>
    <td><%= pallet.trace %></td>
    <td class="right"><%= number_with_precision pallet.weight %></td>
    <td class="center"><%= pallet.remains %></td>
    <td class="center"><%= pallet.taken %></td>
    <td class="center"><%= pallet.capacity %></td>
    <td class="right"><%= l pallet.arrived_at.to_date, :format => :short %></td>
    <td class="right"><%= l pallet.best_before, :format => :short %></td>
    <td class="center"><%= pallet.pallet_type.name %></td>
  </tr>
  <% end %>

</table>

<%= will_paginate @pallets, :params => {:anchor => 'pallets'} %>
